

h1{

  color:turquoise
}
*{

  text-align: center;
  direction: rtl;
}
main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
main div{

  box-shadow:turquoise ;
  padding: 5rem;
  border-radius: 1rem;
  position: relative;
  
}
